# hidden files
.*
!.github

# jekyll cache
_site
vendor

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json

# sublime text
_config.sublime-workspace

# Example post
2021-02-16-example-markdown-and-typesetting-post.md
